body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d6d6d6 !important;
}
.text-heading{
    color: #98392A;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}